.untitled-page.main {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  overflow: hidden;
}
.untitled-page .userProfileSection {
  display: flex;
  flex-direction: column;
  background: var(--src) center center/cover no-repeat;
}
.untitled-page .profileHeader {
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
  margin: 16px auto 15px;
  width: 91.53%;
  max-width: 1318.03125px;
}
@media (max-width: 479px) {
  .untitled-page .profileHeader {
    flex-direction: column;
    align-items: center;
    gap: 30px 10px;
  }
}
.untitled-page .profileImage {
  margin: 2px 0 4px;
  width: 244px;
  min-width: 0;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 479px) {
  .untitled-page .profileImage {
    margin: 0;
    width: 100%;
    min-width: unset;
    max-width: 244px;
  }
}
.untitled-page .profileDetails {
  display: flex;
  align-items: center;
  gap: 0 17px;
  width: 442px;
  min-width: 0;
}
@media (max-width: 575px) {
  .untitled-page .profileDetails {
    -moz-column-gap: 16px;
    column-gap: 16px;
  }
}
@media (max-width: 479px) {
  .untitled-page .profileDetails {
    flex-direction: column;
    gap: 30px 16px;
    width: 100%;
    min-width: unset;
  }
}
.untitled-page .userName {
  font: 600 24px/1.2 Montserrat, Helvetica, Arial, serif;
  color: white;
}
@media (max-width: 991px) {
  .untitled-page .userName {
    align-items: flex-start;
    font-size: 22px;
  }
}
@media (max-width: 479px) {
  .untitled-page .userName {
    width: 100%;
    font-size: 20px;
  }
}
.untitled-page .userStatusImage {
  width: 87px;
  min-width: 0;
  height: 87px;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 479px) {
  .untitled-page .userStatusImage {
    width: 100%;
    min-width: unset;
    max-width: 87px;
  }
}
.untitled-page .scheduleSection {
  display: flex;
  flex-direction: column;
}
.untitled-page .contentBox {
  display: flex;
  flex-direction: column;
  margin: 0 auto 840px;
  width: 100%;
  max-width: 1440px;
  background: var(--src) center center/cover no-repeat;
}
@media (max-width: 991px) {
  .untitled-page .contentBox {
    margin: 0 auto 150px;
  }
}
@media (max-width: 575px) {
  .untitled-page .contentBox {
    margin: 0 auto 80px;
  }
}
@media (max-width: 383px) {
  .untitled-page .contentBox {
    margin: 0 auto 50px;
  }
}
.untitled-page .flexRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 10px;
  margin: 8px 0 7px 29px;
  width: 813px;
  max-width: 85%;
}
@media (max-width: 575px) {
  .untitled-page .flexRow {
    margin: 8px 0 7px 16px;
  }
}
@media (max-width: 383px) {
  .untitled-page .flexRow {
    -moz-column-gap: 8px;
    column-gap: 8px;
    margin: 8px 0 7px 8px;
  }
}
.untitled-page .scheduleImage {
  width: 51px;
  height: 51px;
  -o-object-fit: cover;
  object-fit: cover;
}
.untitled-page .mediumTitle {
  font: 600 26px/1.23 Montserrat, Helvetica, Arial, serif;
  color: white;
}
@media (max-width: 991px) {
  .untitled-page .mediumTitle {
    align-items: flex-start;
    font-size: 24px;
  }
}
@media (max-width: 479px) {
  .untitled-page .mediumTitle {
    font-size: 22px;
  }
}